<div class="main-container">

    <h1 class="title">Clinexa</h1>

    <p class="subtitle">
        Smart Care System
    </p>

    <div class="card-container">

        <div class="role-card" routerLink="/manage-patient">
            <h2>Patient</h2>
            <p>Register, login and manage appointments</p>
        </div>

        <div class="role-card" routerLink="/login/receptionist">
            <h2>Receptionist</h2>
            <p>Manage patient appointments</p>
        </div>

        <div class="role-card" routerLink="/login/doctor">
            <h2>Doctor</h2>
            <p>View schedules and appointments</p>
        </div>

        <div class="role-card" routerLink="/login/admin">
            <h2>Admin</h2>
            <p>Manage hospital operations</p>
        </div>

        <div class="role-card" routerLink="/login/super-admin">
            <h2>Super Admin</h2>
            <p>Full system control</p>
        </div>

    </div>

</div>