<div class="reset-page">

    <div class="reset-card">

        <div class="brand-icon">
            🏥
        </div>

        <span class="page-badge">
            Password Recovery
        </span>

        <h1>Reset Password</h1>

        <p class="subtitle">
            Create a strong password for your Clinexa account.
        </p>

        <form (ngSubmit)="updatePassword()">

            <div class="form-group">

                <label>New Password</label>

                <input [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="newPassword" name="newPassword"
                    placeholder="Enter new password" required>

            </div>

            <div class="form-group">

                <label>Confirm Password</label>

                <input [type]="hideConfirmPassword ? 'password' : 'text'" [(ngModel)]="confirmPassword"
                    name="confirmPassword" placeholder="Confirm password" required>

            </div>

            <div class="checkbox">

                <label>
                    <input type="checkbox"
                        (change)="hidePassword=!hidePassword;hideConfirmPassword=!hideConfirmPassword">

                    Show Password
                </label>

            </div>

            <button class="update-btn" type="submit" [disabled]="isSubmitting">

                {{
                isSubmitting
                ? 'Updating Password...'
                : 'Update Password'
                }}

            </button>

        </form>

        <div class="footer-links">

            <a routerLink="/login/patient">
                ← Back to Login
            </a>

        </div>

    </div>

</div>