<div class="login-page">

    <div class="login-card">

        <div class="brand">
            <div class="brand-icon">
                {{ portalIcon }}
            </div>

            <h1>
                {{ portalTitle }}
            </h1>

            <p>
                Welcome to Clinexa. Please sign in securely to continue.
            </p>
        </div>

        <form (ngSubmit)="login()">

            <div class="input-group">
                <label>Email Address</label>

                <input type="email" placeholder="Enter your email" [(ngModel)]="email" name="email" required />
            </div>

            <div class="input-group">
                <label>Password</label>

                <input type="password" placeholder="Enter your password" [(ngModel)]="password" name="password"
                    required />
            </div>

            <button type="submit" class="login-btn" [disabled]="isLoading">
                {{
                isLoading
                ? 'Signing in...'
                : 'Login to Dashboard'
                }}
            </button>

            <a class="forgot-link" routerLink="/forgot-password">
                Forgot Password?
            </a>

        </form>

        <div class="footer-text">
            <p>
                You are logging in as
                <strong>{{ selectedRole | titlecase }}</strong>
            </p>

            <a routerLink="/">
                ← Back to Home
            </a>
        </div>

    </div>

</div>