<div class="page">

    <div class="bg-circle circle-one"></div>
    <div class="bg-circle circle-two"></div>

    <div class="card">

        <div class="header">

            <div class="icon">
                🏥
            </div>

            <h1>
                {{
                isEditMode
                ? 'Edit Department'
                : 'Add Department'
                }}
            </h1>

            <p>
                {{
                isEditMode
                ? 'Update department information'
                : 'Create a new hospital department'
                }}
            </p>

        </div>

        <form (ngSubmit)="createDepartment()">

            <div class="input-group">

                <label>
                    Department Name
                </label>

                <input type="text" placeholder="e.g. Cardiology" [(ngModel)]="department.name" name="name">

            </div>

            <div class="input-group">

                <label>
                    Description
                </label>

                <textarea placeholder="Describe department responsibilities..." [(ngModel)]="department.description"
                    name="description">
        </textarea>

            </div>

            <div class="button-group">

                <button type="button" class="cancel-btn" (click)="cancel()">

                    Cancel

                </button>

                <button type="submit" class="submit-btn" [disabled]="isSubmitting">

                    {{
                    isSubmitting
                    ? 'Please wait...'
                    : isEditMode
                    ? 'Update Department'
                    : 'Create Department'
                    }}

                </button>

            </div>

        </form>

    </div>

</div>