
<div class="page-container">

    <div class="top-bar">

        <div>

            <h1 class="title">
                👤 Manage Patients
            </h1>

            <p class="subtitle">
                Manage all registered patients
            </p>

        </div>

        <button class="add-btn" routerLink="/add-patient">

            + Add Patient

        </button>

    </div>

    <div class="search-box">

        <span>🔍</span>

        <input type="text" placeholder="Search by name, email or phone..." [(ngModel)]="searchText">

    </div>

    <div class="stats-row">

        <div class="stat-card">

            <h3>
                {{ patients.length }}
            </h3>

            <p>
                Total Patients
            </p>

        </div>

        <div class="stat-card">

            <h3>
                {{ activePatientsCount }}
            </h3>

            <p>
                Active
            </p>

        </div>

        <div class="stat-card">

        <h3>
            {{ inactivePatientsCount }}
        </h3>

            <p>
                Inactive
            </p>

        </div>

    </div>

    <div class="patient-grid">

        <div class="patient-card" *ngFor="let patient of filteredPatients">

            <div class="patient-header">

                <div class="avatar">
                    👤
                </div>

                <div>

                    <h2>
                        {{ patient.name }}
                    </h2>

                    <small>
                        {{ patient.email }}
                    </small>

                </div>

            </div>

            <div class="patient-details">

                <p>
                    📞 {{ patient.phone }}
                </p>

                <p>
                    🚻 {{ patient.gender }}
                </p>

                <p>
                    🎂 {{ patient.dob }}
                </p>

                <p>
                    📍 {{ patient.address }}
                </p>

            </div>

            <div class="status">

                <span class="active-badge" *ngIf="patient.active">

                    Active

                </span>

                <span class="inactive-badge" *ngIf="!patient.active">

                    Inactive

                </span>

            </div>

            <div class="card-actions">

                <button class="edit-btn" (click)="editPatient(patient.id)">

                    ✏️ Edit

                </button>

                <button class="status-btn" (click)="toggleStatus(patient.id)">

                    {{
                    patient.active
                    ? 'Deactivate'
                    : 'Activate'
                    }}

                </button>

                <button class="delete-btn" (click)="deletePatient(patient.id)">

                    🗑 Delete

                </button>

            </div>

        </div>

    </div>

</div>
